package ${thisPackage};

import ${daoFullClassName};
import ${doFullClassName};
import wint.dal.ibatis.ReadWriteSqlMapClientDaoSupport;

/**
* this file is auto generate.
*/
public class ${className} extends ReadWriteSqlMapClientDaoSupport implements ${daoClassName} {

	public ${idType} create(${domainName} ${paramName}) {
		return (${idTypeWrapper})this.getSqlMapClientTemplate().insert("${namespace}.create", ${paramName});
	}

	public int delete(${idType} id) {
		return this.getSqlMapClientTemplate().update("${namespace}.delete", id);
	}

	public int update(${domainName} ${paramName}) {
		return this.getSqlMapClientTemplate().update("${namespace}.update", ${paramName});
	}

	public ${domainName} queryById(${idType} id) {
		return (${domainName})this.getSqlMapClientTemplate().queryForObject("${namespace}.queryById", id);
	}

}